@media screen and (max-width: 768px) {
  .header .nav .navigation {
    display: none;
  }
  .header .nav .manu-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header .nav .logo b {
    width: 10.5rem;
  }
  .header .nav .navigation.manu-active {
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    top: 7.3rem;
    width: 97%;
    left: 1.6%;
    z-index: 9999;
    text-align: left;
    height: 30rem;
  }
  .header .nav .navigation.manu-active ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--navbg);
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 2.2rem;
  }
  .header .nav .navigation.manu-active ul li {
    margin: 1.6rem 0;
  }
  .footer .foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .footer .foot .logosmalldesc {
    -ms-flex-preferred-size: 34rem !important;
        flex-basis: 34rem !important;
  }
  .footer .foot .logosmalldesc p {
    font-size: 2.5rem !important;
  }
  .footer .foot .social ul li a {
    font-size: 2rem !important;
  }
  .footer .foot .shortcut ul li a {
    font-size: 2rem !important;
  }
  .footer .copyright {
    padding: 2rem 0;
  }
  .footer .copyright p {
    font-size: 1.8rem;
  }
  .footer .copyright p a {
    font-size: 1.8rem;
  }
  /* 
        index page media query finish
    
        home media query
    */
  .header .swiper {
    height: 45vh;
  }
  .header .swiper .swiper-wrapper .swiper-slide .info h2 {
    font-size: 4rem;
  }
  .header .swiper .swiper-wrapper .swiper-slide .info p {
    font-size: 2rem;
  }
  .header .swiper .swiper-wrapper .swiper-slide .info .btn {
    padding: 1rem 2rem;
  }
  .header .swiper .swiper-pagination-bullet-active {
    height: 1.5rem;
    width: 1.5rem;
  }
  .header .swiper .swiper-pagination-bullet {
    height: 1.5rem;
    width: 1.5rem;
  }
  .homesection .nursery {
    padding: 1rem;
  }
  .homesection .nursery .imge {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.3rem;
    border-radius: 1rem;
  }
  .homesection .nursery .imge .pera {
    width: 100%;
  }
  .homesection .nursery .imge .pera h1 {
    text-align: center;
  }
  .homesection .nursery .imge img {
    width: 100%;
    height: 23rem;
  }
  .homesection .nursery .imge:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homesection .blogs {
    width: calc(100/1);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem;
  }
  .homesection .blogs .box {
    margin: .5rem;
  }
  .homesection .products {
    display: none;
  }
  /* 
        home section media query finish
    
        about section media query
    */
  .aboutsection .infocontact {
    min-height: 40vh;
    padding: 0 2rem;
  }
  .aboutsection .infocontact h1 {
    font-size: 3rem;
  }
  .aboutsection .infocontact p {
    font-size: 1.4rem;
    text-align: center;
  }
  .aboutsection .aboutbox h1 {
    font-size: 3rem;
  }
  .aboutsection .aboutbox .about {
    width: calc(100/1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem .5rem;
  }
  .aboutsection .aboutbox .about .box {
    margin: 1rem .4rem;
  }
  .aboutsection .aboutbox .about .box .content {
    height: 100%;
  }
  /* 
        about section media query finish
    
        contact section media query
    */
  .contactsection .infocontact {
    min-height: 40vh;
    padding: 0 2rem;
  }
  .contactsection .infocontact h1 {
    font-size: 3rem;
    text-align: center;
  }
  .contactsection .infocontact p {
    font-size: 1.4rem;
    text-align: center;
  }
  .contactsection .contactbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0rem;
  }
  .contactsection .contactbox .detailbox {
    padding: 1rem .2rem;
  }
  .contactsection .contactbox .detailbox .box {
    padding: 3rem 2rem;
  }
  .contactsection .contactbox .detailbox .box a {
    font-size: 3rem;
  }
  .contactsection .contactbox .detailbox .box .text h3 {
    font-size: 2.5rem;
  }
  .contactsection .contactbox .detailbox .box .text p {
    font-size: 1.8rem;
  }
  /* 
        contact section media query finish
    
        blog section media query
    */
  .blogsection {
    padding: 2rem 1rem;
  }
  .blogsection .swiper {
    padding: 2rem 1rem;
  }
  .blogsection .swiper .swiper-wrapper .box {
    height: 50rem;
    margin-bottom: 1rem;
  }
  .blogsection .swiper .swiper-wrapper .box .content {
    font-size: 1.6rem;
    height: 11rem;
  }
  .blogsection .swiper .swiper-wrapper .box a {
    font-size: 1.5rem;
  }
  /* 
        blog section media query finish

        product section media query
    */
  .productsection {
    padding: 2rem 1rem;
  }
  .productsection .headtitle {
    padding: 1rem;
  }
  .productsection .headtitle h1 {
    font-size: 2.5rem;
  }
  .productsection .swiper {
    padding: 2rem 1rem;
  }
  .productsection .swiper .swiper-wrapper .box {
    margin-bottom: 1rem;
  }
  .productsection .swiper .swiper-wrapper .box .content {
    font-size: 1.6rem;
    height: 14rem;
  }
  /* 
        product section media query finish
    
        profile section media query
    */
  .profilesection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profilesection .block {
    margin: 3rem 0;
    width: 100%;
  }
  .profilesection .block .imgbox img {
    width: 50%;
    height: 14rem;
  }
  .profilesection .block:nth-child(1) {
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
  .profilesection .block .some {
    padding: 0.5rem 4.5rem;
  }
  .profilesection .block .some:nth-child(1) {
    padding: 0.5rem 9rem;
  }
  .profilesection .block .detailform {
    width: 100%;
    padding: 2rem 0;
  }
  .profilesection .block .detailform .form label {
    width: 100%;
  }
  /* 
        profile section media query done

        productdetail section media query
    */
  .productdetailsection, .readblogsection {
    padding-bottom: 0;
  }
  .productdetailsection .productpricedetail img.bg, .productdetailsection .readblogdetail img.bg, .readblogsection .productpricedetail img.bg, .readblogsection .readblogdetail img.bg {
    height: 50vh;
  }
  .productdetailsection .productpricedetail img, .productdetailsection .readblogdetail img, .readblogsection .productpricedetail img, .readblogsection .readblogdetail img {
    width: 50%;
    margin-bottom: 2rem;
  }
  .productdetailsection .productpricedetail .nameproduct, .productdetailsection .readblogdetail .nameproduct, .readblogsection .productpricedetail .nameproduct, .readblogsection .readblogdetail .nameproduct {
    font-size: 2.7rem;
  }
  .productdetailsection .productpricedetail .author, .productdetailsection .readblogdetail .author, .readblogsection .productpricedetail .author, .readblogsection .readblogdetail .author {
    font: 300 1.8rem var(--font1);
  }
  .productdetailsection .productpricedetail .price, .productdetailsection .readblogdetail .price, .readblogsection .productpricedetail .price, .readblogsection .readblogdetail .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productdetailsection .productpricedetail .price .pricebox, .productdetailsection .readblogdetail .price .pricebox, .readblogsection .productpricedetail .price .pricebox, .readblogsection .readblogdetail .price .pricebox {
    margin: 1.6rem 0;
  }
  .productdetailsection .productpricedetail .price .form, .productdetailsection .readblogdetail .price .form, .readblogsection .productpricedetail .price .form, .readblogsection .readblogdetail .price .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productdetailsection .productpricedetail .price .form label input[type=text], .productdetailsection .readblogdetail .price .form label input[type=text], .readblogsection .productpricedetail .price .form label input[type=text], .readblogsection .readblogdetail .price .form label input[type=text] {
    width: 45%;
  }
  .productdetailsection .productpricedetail .productdesc p, .productdetailsection .readblogdetail .productdesc p, .readblogsection .productpricedetail .productdesc p, .readblogsection .readblogdetail .productdesc p {
    font-size: 2rem;
  }
  .productdetailsection .productpricedetail .productcare .topic, .productdetailsection .readblogdetail .productcare .topic, .readblogsection .productpricedetail .productcare .topic, .readblogsection .readblogdetail .productcare .topic {
    font-size: 3rem;
  }
  .productdetailsection .productpricedetail .productcare .topicpoint, .productdetailsection .readblogdetail .productcare .topicpoint, .readblogsection .productpricedetail .productcare .topicpoint, .readblogsection .readblogdetail .productcare .topicpoint {
    font-size: 1.6rem;
  }
  .productdetailsection .productpricedetail .boxs, .productdetailsection .readblogdetail .boxs, .readblogsection .productpricedetail .boxs, .readblogsection .readblogdetail .boxs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productdetailsection .productpricedetail .boxs .boxy, .productdetailsection .readblogdetail .boxs .boxy, .readblogsection .productpricedetail .boxs .boxy, .readblogsection .readblogdetail .boxs .boxy {
    width: 100%;
  }
  .productdetailsection .productpricedetail .boxs .boxy:nth-child(1), .productdetailsection .readblogdetail .boxs .boxy:nth-child(1), .readblogsection .productpricedetail .boxs .boxy:nth-child(1), .readblogsection .readblogdetail .boxs .boxy:nth-child(1) {
    width: 100%;
  }
  .productdetailsection .productpricedetail .boxs .boxy .cont i, .productdetailsection .readblogdetail .boxs .boxy .cont i, .readblogsection .productpricedetail .boxs .boxy .cont i, .readblogsection .readblogdetail .boxs .boxy .cont i {
    font-size: 3rem;
    margin-right: 1rem;
    padding: 0 .3rem;
  }
  .productdetailsection .productpricedetail .boxs .boxy .cont .content, .productdetailsection .readblogdetail .boxs .boxy .cont .content, .readblogsection .productpricedetail .boxs .boxy .cont .content, .readblogsection .readblogdetail .boxs .boxy .cont .content {
    margin-left: 1rem;
  }
  .productdetailsection .productpricedetail .boxs .boxy .cont .content h2, .productdetailsection .readblogdetail .boxs .boxy .cont .content h2, .readblogsection .productpricedetail .boxs .boxy .cont .content h2, .readblogsection .readblogdetail .boxs .boxy .cont .content h2 {
    font-size: 2.4rem;
  }
  .productdetailsection .productpricedetail .boxs .boxy .cont .content p, .productdetailsection .readblogdetail .boxs .boxy .cont .content p, .readblogsection .productpricedetail .boxs .boxy .cont .content p, .readblogsection .readblogdetail .boxs .boxy .cont .content p {
    font-size: 1.4rem;
  }
  .productdetailsection .productpricedetail .infox .infoy, .productdetailsection .readblogdetail .infox .infoy, .readblogsection .productpricedetail .infox .infoy, .readblogsection .readblogdetail .infox .infoy {
    padding: 0;
  }
  .productdetailsection .productpricedetail .infox .infoy .cont, .productdetailsection .readblogdetail .infox .infoy .cont, .readblogsection .productpricedetail .infox .infoy .cont, .readblogsection .readblogdetail .infox .infoy .cont {
    border-radius: 1rem;
    border-bottom: 0.2rem solid var(--inputbg);
    padding: 2rem;
  }
  .productdetailsection .productpricedetail .infox .infoy .cont h1, .productdetailsection .readblogdetail .infox .infoy .cont h1, .readblogsection .productpricedetail .infox .infoy .cont h1, .readblogsection .readblogdetail .infox .infoy .cont h1 {
    text-align: center;
  }
  .productdetailsection .productpricedetail .infox .infoy .cont p, .productdetailsection .readblogdetail .infox .infoy .cont p, .readblogsection .productpricedetail .infox .infoy .cont p, .readblogsection .readblogdetail .infox .infoy .cont p {
    text-align: justify;
  }
  /* 
        productdetail section media query finish
        
        form section media query
    */
  .login .contantbx, .register .contantbx, .forgotpw .contantbx, .passwordchange .contantbx {
    width: 90%;
  }
  .login .contantbx .formbx, .register .contantbx .formbx, .forgotpw .contantbx .formbx, .passwordchange .contantbx .formbx {
    width: 90%;
  }
  /* 
        form section media query finish

        addproduct section media query
    */
  .addproduct, .writeblogsection {
    padding-bottom: 0;
  }
  .addproduct .productpricedetail img.bg, .addproduct .writeblogdetail img.bg, .writeblogsection .productpricedetail img.bg, .writeblogsection .writeblogdetail img.bg {
    height: 50vh;
  }
  .addproduct .productpricedetail .mainimg, .addproduct .writeblogdetail .mainimg, .writeblogsection .productpricedetail .mainimg, .writeblogsection .writeblogdetail .mainimg {
    width: 100%;
  }
  .addproduct .productpricedetail .mainimg img, .addproduct .writeblogdetail .mainimg img, .writeblogsection .productpricedetail .mainimg img, .writeblogsection .writeblogdetail .mainimg img {
    width: 50%;
    margin-bottom: 2rem;
  }
  .addproduct .productpricedetail .form, .addproduct .writeblogdetail .form, .writeblogsection .productpricedetail .form, .writeblogsection .writeblogdetail .form {
    text-align: center;
  }
  .addproduct .productpricedetail .form input, .addproduct .productpricedetail .form select, .addproduct .productpricedetail .form textarea, .addproduct .writeblogdetail .form input, .addproduct .writeblogdetail .form select, .addproduct .writeblogdetail .form textarea, .writeblogsection .productpricedetail .form input, .writeblogsection .productpricedetail .form select, .writeblogsection .productpricedetail .form textarea, .writeblogsection .writeblogdetail .form input, .writeblogsection .writeblogdetail .form select, .writeblogsection .writeblogdetail .form textarea {
    width: 100%;
  }
  .addproduct .productpricedetail .form .nameproduct, .addproduct .writeblogdetail .form .nameproduct, .writeblogsection .productpricedetail .form .nameproduct, .writeblogsection .writeblogdetail .form .nameproduct {
    font-size: 2.7rem;
  }
  .addproduct .productpricedetail .form .price, .addproduct .writeblogdetail .form .price, .writeblogsection .productpricedetail .form .price, .writeblogsection .writeblogdetail .form .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addproduct .productpricedetail .form .price .pricebox, .addproduct .writeblogdetail .form .price .pricebox, .writeblogsection .productpricedetail .form .price .pricebox, .writeblogsection .writeblogdetail .form .price .pricebox {
    margin: 1.6rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addproduct .productpricedetail .form .price .pricebox input, .addproduct .writeblogdetail .form .price .pricebox input, .writeblogsection .productpricedetail .form .price .pricebox input, .writeblogsection .writeblogdetail .form .price .pricebox input {
    width: 85%;
  }
  .addproduct .productpricedetail .form .price .btn, .addproduct .writeblogdetail .form .price .btn, .writeblogsection .productpricedetail .form .price .btn, .writeblogsection .writeblogdetail .form .price .btn {
    width: 85%;
  }
  .addproduct .productpricedetail .form .productdesc p, .addproduct .writeblogdetail .form .productdesc p, .writeblogsection .productpricedetail .form .productdesc p, .writeblogsection .writeblogdetail .form .productdesc p {
    font-size: 2rem;
  }
  .addproduct .productpricedetail .form .productcare .topic, .addproduct .writeblogdetail .form .productcare .topic, .writeblogsection .productpricedetail .form .productcare .topic, .writeblogsection .writeblogdetail .form .productcare .topic {
    font-size: 3rem;
  }
  .addproduct .productpricedetail .form .productcare .topicpoint, .addproduct .writeblogdetail .form .productcare .topicpoint, .writeblogsection .productpricedetail .form .productcare .topicpoint, .writeblogsection .writeblogdetail .form .productcare .topicpoint {
    font-size: 1.6rem;
  }
  .addproduct .productpricedetail .form .boxs, .addproduct .writeblogdetail .form .boxs, .writeblogsection .productpricedetail .form .boxs, .writeblogsection .writeblogdetail .form .boxs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addproduct .productpricedetail .form .boxs .boxy, .addproduct .writeblogdetail .form .boxs .boxy, .writeblogsection .productpricedetail .form .boxs .boxy, .writeblogsection .writeblogdetail .form .boxs .boxy {
    width: 100%;
  }
  .addproduct .productpricedetail .form .boxs .boxy:nth-child(1), .addproduct .writeblogdetail .form .boxs .boxy:nth-child(1), .writeblogsection .productpricedetail .form .boxs .boxy:nth-child(1), .writeblogsection .writeblogdetail .form .boxs .boxy:nth-child(1) {
    width: 100%;
  }
  .addproduct .productpricedetail .form .boxs .boxy .cont i, .addproduct .writeblogdetail .form .boxs .boxy .cont i, .writeblogsection .productpricedetail .form .boxs .boxy .cont i, .writeblogsection .writeblogdetail .form .boxs .boxy .cont i {
    font-size: 3rem;
    margin-right: 1rem;
    padding: 0 .3rem;
  }
  .addproduct .productpricedetail .form .boxs .boxy .cont .content, .addproduct .writeblogdetail .form .boxs .boxy .cont .content, .writeblogsection .productpricedetail .form .boxs .boxy .cont .content, .writeblogsection .writeblogdetail .form .boxs .boxy .cont .content {
    margin-left: 1rem;
  }
  .addproduct .productpricedetail .form .boxs .boxy .cont .content h2, .addproduct .writeblogdetail .form .boxs .boxy .cont .content h2, .writeblogsection .productpricedetail .form .boxs .boxy .cont .content h2, .writeblogsection .writeblogdetail .form .boxs .boxy .cont .content h2 {
    font-size: 2.4rem;
  }
  .addproduct .productpricedetail .form .boxs .boxy .cont .content p, .addproduct .writeblogdetail .form .boxs .boxy .cont .content p, .writeblogsection .productpricedetail .form .boxs .boxy .cont .content p, .writeblogsection .writeblogdetail .form .boxs .boxy .cont .content p {
    font-size: 1.4rem;
  }
  .addproduct .productpricedetail .form .infox .infoy .cont h2, .addproduct .writeblogdetail .form .infox .infoy .cont h2, .writeblogsection .productpricedetail .form .infox .infoy .cont h2, .writeblogsection .writeblogdetail .form .infox .infoy .cont h2 {
    text-indent: 0;
  }
  /* 
        add to cart and order media query
    */
  .addtocartsection .heading h1, .ordersection .heading h1 {
    font-size: 2rem;
    font-weight: 700;
    text-indent: 0;
  }
  .addtocartsection .heading h1:nth-child(1), .ordersection .heading h1:nth-child(1) {
    width: 20%;
  }
  .addtocartsection .heading h1:nth-child(2), .ordersection .heading h1:nth-child(2) {
    width: 50%;
  }
  .addtocartsection .form, .ordersection .form {
    height: 15rem;
  }
  .addtocartsection .form .boxx img, .ordersection .form .boxx img {
    width: 20%;
    margin-right: 1.5rem;
    height: 10rem;
  }
  .addtocartsection .form .boxx .boxy input, .ordersection .form .boxx .boxy input {
    font-size: 1.7rem;
    margin: .5rem;
  }
  .addtocartsection .form .boxx .boxy input:nth-child(2), .ordersection .form .boxx .boxy input:nth-child(2) {
    font-size: 1.2rem;
  }
  .addtocartsection .form .boxx .boxy input:nth-child(3), .ordersection .form .boxx .boxy input:nth-child(3) {
    font-size: 1.5rem;
  }
  .addtocartsection .form .boxx .button input[type=submit], .addtocartsection .form .boxx .button h1, .ordersection .form .boxx .button input[type=submit], .ordersection .form .boxx .button h1 {
    width: 100%;
    font-size: 1.4rem;
    margin: .55rem 0;
    padding: 1rem .5rem;
  }
}
