{% extends "nursery/index.html" %}

{% block title %}Login{% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'nursery/CSS/loginpage.css' %}">
{% endblock css %}

{% block body %}
<section class="login" style="--imgb: url('{% static 'nursery/IMAGE/lrfc.jpg' %}');">
    <div class="contantbx">
        <div class="formbx">
            <h2>Login</h2>
            <form action="" method="post">
                {% csrf_token %}
                {% for fm in logfm %}
                <div class="inputbx">
                    <span class="placeholder">{{fm.label_tag}}</span>
                    <label for="">
                        {{fm}}
                    </label>
                </div>
                {% endfor %}
                <div class="inputbx">
                    <input type="submit" value="Sign In">
                </div>
                <div class="inputbx">
                    <p>Don't have an account? <a href="{% url 'registration' %}">Sign Up</a></p>
                    <p class="center"><a href="{% url 'forgotpassword' %}">Forgot Password</a></p>
                </div>
            </form>
            {% comment %}
            <hr>
            <h3>Login with social media</h3>
            <ul class="sci">
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-google"></i></a></li>
            </ul> {% endcomment %}
        </div>
    </div>
</section>
{% endblock body %}