{% extends 'nursery/index.html' %}
{% load static %}
{% block title %}ORDERS{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'nursery/CSS/addtocart.css' %}">
{% endblock css %}

{% block body %}
<section class="ordersection">
    <div class="heading">
        <h1>Plant</h1>
        <h1>Description</h1>
        <h1>Status</h1>
    </div>
    {% for i in orders %}
    <div class="form">
        <div class="boxx">
            <img src="{{i.Product.Second_Img.url}}" alt="{{i.Product.Product_Name}}">
            <div class="boxy">
                <input type="text" name="name" id="name{{i.id}}" readonly required value="{{i.Product.Product_Name}}">
                <input type="text" name="name" id="type{{i.id}}" readonly required value="{{i.Product.Plant_Type}}">
                <input type="text" name="price" id="price{{i.id}}" readonly required value="₹ {{i.Product_Amount}}">
                <input type="text" name="quantity" id="quantity{{i.id}}" readonly required value="Quantity - {{i.Product_Quantity}}">
            </div>
            <div class="button">
                
                <h1>COD</h1>
                {% if i.Order_Cancel_Position %}
                    <h1>Canceled</h1>   
                {% else %}
                    {% if i.Deliver %}
                        <h1>Delivered</h1>
                    {% else %}
                        <h1>Order Placed</h1>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text" style="display:none;" name="prid" id="prid{{i.id}}" value="{{i.id}}">
                            <input type="submit" value="Cancal">
                    {% endif %} 
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock body %}

{% block js %}{% endblock js %}
