
.aboutsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    box-shadow: var(--boxshadow1);
    
    .infocontact{
        background: var(--img);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        image-rendering: optimizeQuality;
        width: 100%;
        margin-bottom: 5rem;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font: 800 6rem var(--font1);
            color: var(--colorwhite);
        }
        p{
            font: 500 2.25rem var(--font2);
            color: var(--colorwhite);
        }
    }
    .aboutbox{
        width: 100%;
        h1{
            width: 100%;
            text-align: center;
            color: var(--color1);
            font: 600 5rem var(--font1);
        }
        p{
            width: 100%;
            text-align: center;
            color: var(--color1);
            font: 600 1.5rem var(--font1);

        }
        .about{
            width: calc(100/4);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            .box{
                width: 90%;
                padding: 1rem;
                box-shadow: var(--boxshadow1);
                margin: 1rem;
                border-radius: 1rem;
                img{
                    width: 100%;
                    border-radius: .6rem;
                    height: 25rem;
                }
                .title{
                    padding: 1rem;
                    color: var(--color1);
                    font: 2rem var(--font1);
                    font-weight: 600;
                }
                .content{
                    padding: 1rem;
                    text-align: justify;
                    color: var(--color1);
                    font: 1.5rem var(--font1);
                    font-weight: 400;
                    overflow: hidden;
                    height: 30rem;
                }
                a{
                    padding: 1rem;
                    text-decoration: none;
                    font: 1.3rem var(--font1);
                    font-weight: 500;
                }
            }
        }
    }
}