.readblogsection{
    box-shadow: var(--boxshadow1);
    width: 100%;
    height: 100%;
    overflow: hidden;
    .readblogdetail{
        display: flex;
        width: 100%;
        height: 100%;
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img.bg{
            width: 99%;
            height: 85vh;
            opacity: .3;
            position: absolute;
            top: 8.1rem;
        }
        img{
            width: 30%;
            margin-bottom: 4rem;
        }
        .nameproduct{
            font: 700 4rem var(--font1);
            margin-bottom: 1rem;
        }
        .author{
            font: 400 2rem var(--font1);
            span{
                margin-left: 2rem;
            }
            b{
                margin-left: 1rem;
                font-size: 3rem;
            }
        }
        .productdesc{
            width: 85%;
            margin: 2rem 0;
            p{
                font: 500 2.5rem var(--font1);
                text-align: center;
                color: var(--color1);
            }
        }
        .productcare{
            border-bottom: .2rem solid var(--inputbg);
            padding: 2rem;
            width: 95%;
            border-radius: 1rem;
            margin: 1.4rem 0;
            .topic{
                font: 800 4rem var(--font1);
            }
            .topicpoint{
                font: 700 2rem var(--font1);

            }
        }
        .boxs{
            display: flex;
            justify-content: space-between;
            width: 95%;
            padding: 2rem;
            box-shadow: var(--boxshadow1);
            align-items: center;
            border-radius: 1rem;
            .boxy{
                width: 50%;
                display: flex;
                padding: 2rem 4rem;
                margin: 1rem;
                justify-content: center;
                flex-direction: column;
                border-radius: 1rem;
                img{
                    width: 100%;
                }
                &:nth-child(1){
                    width: 40%;
                    box-shadow: var(--boxshadow1);
                }
                .cont{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-around;
                    margin: 1.8rem 0;
                    i{
                        font-size: 4rem;
                        margin-right: 2rem;
                        padding: 0 1rem;
                        width: 20%;
                    }
                    .content{
                        width: 75%;
                        margin-left: 2rem;
                        h2{
                            font: italic 600 3rem var(--font1);
                        }
                        p{
                            
                            font: italic 500 1.6rem var(--font1);
                        }
                    }
                }
            }
        }
        .infox{
            display: flex;
            justify-content: space-between;
            width: 95%;
            padding: 2rem;
            box-shadow: var(--boxshadow1);
            align-items: center;
            border-radius: 1rem;
            margin: 2rem 0;
            .infoy{
                display: flex;
                padding: 2rem 4rem;
                margin: 1rem;
                justify-content: center;
                flex-direction: column;
                border-radius: 1rem;
                .cont{
                    width: 100%;
                    margin: 1.8rem 0;
                    h1{
                        font: 700 3.5rem var(--font1);
                    }
                    p{
                        font: 500 2.2rem var(--font1);
                        color: var(--colorgray);
                        white-space: pre-line;
                    }
                }
            }
        }
    }
}