.writeblogsection{
    box-shadow: var(--boxshadow1);
    width: 100%;
    height: 100%;
    overflow: hidden;
    .writeblogdetail{
        display: flex;
        width: 100%;
        height: 100%;
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img.bg{
            width: 99%;
            height: 85vh;
            opacity: .3;
            position: absolute;
            top: 8.1rem;
        }
        .mainimg{
            display: flex;
            width: 100%;
            height: 80%;
            padding-bottom: 1rem;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                width: 30%;
                height: 50%;
                margin-bottom: 4rem;
            }
        }
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            label{
                position: relative;
                #prodimg{
                    visibility: hidden;
                }
                #firstimg{
                    font:italic 800 1.6rem var(--font1);
                    color: var(--color1);
                    position: absolute;
                    // left: 20%;
                    top: 1rem;
                    width: 100%;
                    background: var(--colorwhite);
                    padding: 1.4rem 1rem;
                    text-align: center;
                    border: .1rem dotted var(--colorgray);
                    border-radius: 1rem;
                    cursor: pointer;
                    &:hover{
                        background: var(--inputbg);
                    }
                }
            }
            .nameproduct{
                font: 700 4rem var(--font1);
                margin-bottom: 1rem;
            }
            input,textarea,select{
                outline: none;
                display: inline-flex;
                text-align: center;
                font: italic 800 1.6rem var(--font2);
                border: .1rem dotted var(--colorgray);
                text-transform: capitalize;
                padding: 1.5rem 0.5rem;
                color: var(--color1);
                margin: 1rem 0;
                border-radius: 1rem;               
            }
            textarea{
                resize: none;
                text-align: left;
                width: 90%;
                padding: 1rem;
            }
            .price{
                display: flex;
                background: var(--addcart);
                justify-content: space-evenly;
                align-items: center;
                width: 90%;
                border-radius: 1rem;
                word-spacing: .6rem;
                
                .btn{
                    text-decoration: none;
                    align-items: center;
                    justify-content: center;
                    width: 25%;
                    background: var(--btn);
                    padding: 2rem 1rem;
                    font: 800 1.6rem var(--font2);
                    color: var(--colorwhite);
                    border: none;
                    margin: 3rem;
                    cursor: pointer;
                    border-radius: 1rem;
                }
            }
            .line{
                display: flex;
                width: 80%;
                justify-content: space-evenly;
            }
            .productdesc{
                width: 85%;
                margin: 2rem 0;
                p{
                    font: 500 2.5rem var(--font1);
                    text-align: center;
                    color: var(--color1);
                }
            }
            .productcare{
                border-bottom: .2rem solid var(--inputbg);
                padding: 2rem;
                width: 95%;
                border-radius: 1rem;
                margin: 1.4rem 0;
                .topic{
                    font: 800 4rem var(--font1);
                }
                .topicpoint{
                    font: 700 2rem var(--font1);

                }
            }
            .boxs{
                display: flex;
                justify-content: space-between;
                width: 95%;
                padding: 2rem;
                box-shadow: var(--boxshadow1);
                align-items: center;
                border-radius: 1rem;
                .boxy{
                    width: 50%;
                    display: flex;
                    padding: 2rem 4rem;
                    margin: 1rem;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 1rem;
                    #otherimg{
                        img{
                            width: 100%;
                        }
                    }
                    label{
                        position: relative;
                        #other{
                            font:italic 800 1.6rem var(--font1);
                            color: var(--color1);
                            position: absolute;
                            top: 1rem;
                            width: 100%;
                            background: var(--colorwhite);
                            padding: 1.4rem 1rem;
                            text-align: center;
                            border: .1rem dotted var(--colorgray);
                            border-radius: 1rem;
                            cursor: pointer;
                            &:hover{
                                background: var(--inputbg);
                            }
                        }
                        #secondimg{
                            visibility: hidden;
                        }
                    }
                    &:nth-child(1){
                        width: 40%;
                        box-shadow: var(--boxshadow1);
                    }
                    .cont{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-evenly;
                        margin: 1.8rem 0;
                        i{
                            font-size: 4rem;
                            margin-right: 2rem;
                            padding: 0 1rem;
                        }
                        .content{
                            margin-left: 2rem;
                            h2{
                                font: italic 600 3rem var(--font1);
                            }
                            p{
                                
                                font: italic 500 1.6rem var(--font1);
                            }
                        }
                    }
                }
            }
            .infox{
                display: flex;
                justify-content: space-between;
                width: 95%;
                padding: 2rem;
                box-shadow: var(--boxshadow1);
                align-items: center;
                margin: 2rem 0;
                border-radius: 1rem;
                .infoy{
                    width: 100%;
                    padding: 2rem 4rem;
                    .cont{
                        width: 100%;
                        margin: 1.8rem 0;
                        h2{
                            font: 800 3rem var(--font1);
                            text-indent: 3rem;
                        }
                    }
                }
            }
        }
    }
}