.aboutsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  -webkit-box-shadow: var(--boxshadow1);
          box-shadow: var(--boxshadow1);
}

.aboutsection .infocontact {
  background: var(--img);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  image-rendering: optimizeQuality;
  width: 100%;
  margin-bottom: 5rem;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutsection .infocontact h1 {
  font: 800 6rem var(--font1);
  color: var(--colorwhite);
}

.aboutsection .infocontact p {
  font: 500 2.25rem var(--font2);
  color: var(--colorwhite);
}

.aboutsection .aboutbox {
  width: 100%;
}

.aboutsection .aboutbox h1 {
  width: 100%;
  text-align: center;
  color: var(--color1);
  font: 600 5rem var(--font1);
}

.aboutsection .aboutbox p {
  width: 100%;
  text-align: center;
  color: var(--color1);
  font: 600 1.5rem var(--font1);
}

.aboutsection .aboutbox .about {
  width: calc(100/4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.aboutsection .aboutbox .about .box {
  width: 90%;
  padding: 1rem;
  -webkit-box-shadow: var(--boxshadow1);
          box-shadow: var(--boxshadow1);
  margin: 1rem;
  border-radius: 1rem;
}

.aboutsection .aboutbox .about .box img {
  width: 100%;
  border-radius: .6rem;
  height: 25rem;
}

.aboutsection .aboutbox .about .box .title {
  padding: 1rem;
  color: var(--color1);
  font: 2rem var(--font1);
  font-weight: 600;
}

.aboutsection .aboutbox .about .box .content {
  padding: 1rem;
  text-align: justify;
  color: var(--color1);
  font: 1.5rem var(--font1);
  font-weight: 400;
  overflow: hidden;
  height: 30rem;
}

.aboutsection .aboutbox .about .box a {
  padding: 1rem;
  text-decoration: none;
  font: 1.3rem var(--font1);
  font-weight: 500;
}
