.profilesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100/2);
  padding: 1rem;
  -webkit-box-shadow: var(--boxshadow1);
          box-shadow: var(--boxshadow1);
}

.profilesection .block {
  border-radius: 1rem;
  margin: 3rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: var(--boxshadow1);
          box-shadow: var(--boxshadow1);
}

.profilesection .block:nth-child(1) {
  width: 40%;
  height: 80vh;
}

.profilesection .block .imgbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.profilesection .block .imgbox img {
  width: 75%;
  height: 30rem;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 50%;
}

.profilesection .block .sociallink {
  width: 80%;
  text-align: center;
}

.profilesection .block .sociallink ul {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profilesection .block .sociallink ul li {
  list-style: none;
}

.profilesection .block .sociallink ul li a {
  text-decoration: none;
  font: 500 2rem var(--font2);
  color: var(--color1);
}

.profilesection .block .some {
  width: 100%;
  margin: 1.6rem;
  text-align: center;
  padding: 1rem;
}

.profilesection .block .some .btn {
  width: 100%;
  padding: .5rem 9.5rem;
  font: 600 2rem var(--font1);
  line-height: 5rem;
  background: var(--color2);
  color: var(--colorwhite);
  border-radius: 1rem;
  text-decoration: none;
}

.profilesection .block .some .btn:nth-child(1) {
  padding: .5rem 14rem;
}

.profilesection .block .detailform {
  margin: 0 6rem;
  width: 90%;
  border-radius: 2rem;
  padding: 2rem;
}

.profilesection .block .detailform .form {
  width: calc(100/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profilesection .block .detailform .form label {
  width: 49%;
  padding: 1rem;
}

.profilesection .block .detailform .form label .label {
  padding-left: 1rem;
  font: 500 1.7rem var(--font1);
  color: var(--color1);
}

.profilesection .block .detailform .form label input, .profilesection .block .detailform .form label textarea, .profilesection .block .detailform .form label select {
  width: 100%;
  border: none;
  border-radius: .5rem;
  text-indent: 1rem;
  padding: .5rem;
  letter-spacing: .2rem;
  font: 400 1.7rem var(--font1);
  outline: none;
  background: var(--inputbg);
  resize: none;
  text-transform: capitalize;
  max-height: 8rem;
}

.profilesection .block .detailform .form label input[type=submit], .profilesection .block .detailform .form label input[type=reset] {
  width: 100%;
  cursor: pointer;
  color: var(--colorwhite);
  background: var(--btn);
}

.profilesection .block .detailform .form label input[type=email] {
  text-transform: none;
}

.profilesection .block .detailform .form label input[type=url] {
  text-transform: none;
}
